<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a href="/" class="d-flex">
            <img src="https://www.ifinish.in/images/logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- <ul class="navbar-nav mb-lg-0">
                <li class="nav-item dropdown" style="margin-left: 150px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: rgb(255, 196, 0);font-size: x-large;"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                        class="bi bi-geo-alt-fill" viewBox="0 0 16 16" style="color: rgb(255, 196, 0);">
                        <path
                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg>
                        India
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li role="menuitem"><a class="dropdown-item" href="#">Andhra Pradesh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Andaman and Nicobar Islands</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Arunachal Pradesh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Assam</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Bihar</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Chandigarh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Chhattisgarh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Dadar and Nagar Haveli</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Daman and Diu</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Delhi</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Lakshadweep</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Puducherry</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Goa</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Gujarat</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Haryana</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Himachal Pradesh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Jammu and Kashmir</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Jharkhand</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Karnataka</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Kerala</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Madhya Pradesh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Maharashtra</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Manipur</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Meghalaya</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Mizoram</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Nagaland</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Odisha</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Punjab</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Rajasthan</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Sikkim</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Tamil Nadu</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Telangana</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Tripura</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Uttar Pradesh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Uttarakhand</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> West Bengal</a></li>
                    </ul>
                </li>
            </ul> -->
            <form class="d-flex" role="search" style="margin-left: 100px;">
                <input class="form-control me-2" type="search" placeholder="Search for events" aria-label="Search"
                    style="width: 400px;">
                <button class="btn btn-outline-warning" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mb-lg-0">
                <li class="nav-item dropdown" style="margin-left: 100px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                        style="color: rgb(255, 196, 0);font-size: x-large;" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor"
                            class="bi bi-geo-alt-fill" viewBox="0 0 16 16" style="color: rgb(255, 196, 0);">
                            <path
                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                        </svg>
                        India
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li role="menuitem"><a class="dropdown-item" href="#">Andhra Pradesh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Andaman and Nicobar Islands</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Arunachal Pradesh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Assam</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Bihar</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Chandigarh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Chhattisgarh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Dadar and Nagar Haveli</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Daman and Diu</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Delhi</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Lakshadweep</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Puducherry</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Goa</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Gujarat</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Haryana</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Himachal Pradesh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Jammu and Kashmir</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Jharkhand</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Karnataka</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Kerala</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Madhya Pradesh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Maharashtra</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Manipur</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Meghalaya</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Mizoram</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Nagaland</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Odisha</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Punjab</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Rajasthan</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Sikkim</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Tamil Nadu</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Telangana</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Tripura</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Uttar Pradesh</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> Uttarakhand</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#"> West Bengal</a></li>
                    </ul>
                </li>
                <div style="display: flex;margin-left:30px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" *ngIf="!authService.loggedIn()"
                        routerLink="/login" style="color: rgb(255, 196, 0);font-size: x-large;">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" *ngIf="!authService.loggedIn()"
                        routerLink="/signup" style="color: rgb(255, 196, 0);font-size: x-large;">REGISTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" *ngIf="authService.loggedIn()" 
                        (click)="authService.logoutUser()"
                         style="color: rgb(255, 196, 0);font-size: x-large;">LOG OUT</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg" style="background-color: black;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        style="color: rgb(255, 196, 0);font-size: large;">Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        style="color: rgb(255, 196, 0);font-size: large;">Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        style="color: rgb(255, 196, 0);font-size: large;">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        style="color: rgb(255, 196, 0);font-size: large;">Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        style="color: rgb(255, 196, 0);font-size: large;">Event Organisers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        style="color: rgb(255, 196, 0);font-size: large;">Live Tracking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        style="color: rgb(255, 196, 0);font-size: large;">Virtual Races</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" routerLink="/events"
                        style="color: rgb(255, 196, 0);font-size: large;">EVENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" routerLink="/special"
                        style="color: rgb(255, 196, 0);font-size: large;">SPECIAL EVENTS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>