<div>
    <div class="slides" style="margin-left:40px;margin-top: 20px;">
        <ngb-carousel *ngIf="mobile" [showNavigationArrows]="showNavigationArrows" [animation]="animation"
            [interval]="interval">
            <ng-template ngbSlide *ngFor="let card of eventData; let i = index">
                <div class="card item m-1 pointer" (click)="onCardClick(card)">
                    <img class="card-img-top" [src]="card.imageSrc" alt="Card image cap" />

                    <div class="card-body">
                        <h6 class="card-title">{{ card.race }}</h6>
                        <p class="card-text">
                            <span>Price : RS {{ card.amount }}</span>
                        </p>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>

        <!-- Desktop section : multiple images per slide -->
        <ngb-carousel *ngIf="!mobile" [showNavigationArrows]="showNavigationArrows" [animation]="animation"
            [interval]="interval">
            <ng-template ngbSlide *ngFor="let group of images; let j = index">
                <div class="d-flex align-items-center justify-content-center">
                    <div *ngFor="let card of group; let i = index" class="card item pointer m-1"
                        (click)="onCardClick(card)">
                        <img class="card-img-top" [src]="card.imageSrc" alt="Card image cap" />

                        <div class="card-body mb-5">
                            <h6 class="card-title"> {{ card.race }}</h6>
                            <p class="card-text">
                                <span>Price : RS {{ card.amount }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>

    </div>
</div>